@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;


}

.escondido {
    display: none;
}

.topo {
    background-color: #CF2B2B;
    position: fixed;
    width: 414px;
    height: 92px;
    top: calc(24vw - 92px);
    left: calc((110vw - 414px)/2);
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.topo>h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-left: 18px;

}

.topo>h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 18px;
}



p {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    margin-bottom: 10px;
    margin-left: 10px;

}

.menu-boxs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    width: auto;



}

.box-menu {
    width: 172px;
    height: 220px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-left: 12px;
    padding-right: 25px;
}

.box-menu img {
    border-radius: 4px;
    position: relative;
    left: 14px;
    top: 14px;
}

.box-menu p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    position: relative;
    left: 14px;
    top: 20px;
}

.box-menu h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    position: relative;
    left: 14px;
    top: 25px;
}

.box-menu h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    position: relative;
    left: 14px;
    top: 40px;
}

.box-menu ion-icon {
    position: relative;
    left: 140px;
    top: 20px;
    font-size: 19px;
    color: #FFFFFF;
}

.selecionado {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    border-radius: 9px;
}

.selecionado ion-icon {
    color: #32B72F;
}

.barra-pedido {
    position: fixed;
    top: calc(100vh - 92px);
    left: calc((100vw - 414px)/2);
    background-color: #FFFFFF;
    height: 92px;
    width: 414px;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.botao {
    width: 310px;
    height: 58px;
    background: #CBCBCB;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.botao h2 {

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;

}

.fechado {
    background-color: #32B72F;
}

.revisar {
    width: 348px;
    height: 320px;
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    position: fixed;
    left: 12px;
    top: calc(50% - 353px/2 - 0.5px);

    z-index: 100;
}

.revisar h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.revisar div {
    width: 330px;
    display: flex;
    justify-content: space-between;

}

.revisar div p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}

.revisar div h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    margin: 0 8px;
}

.revisar .botton-revisar {
    width: 320px;
    height: 52px;
    background: #FFFFFF;
    border-radius: 100px;
    margin-left: 12px;
}


.revisar .botton-revisar p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.018em;
    color: #50D074;
    margin: auto;
}

.fundo-branco{
    background: rgba(255, 255, 255, 0.9);
    width: 1000px;
    height: 1000px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}